*{
     padding: 0;
     margin: 0;
}
.text-left{text-align: left;}

.text-center{text-align: center;}

.text-right{text-align: right;}

.left{float: left;}
.right{float: right;}
a{text-decoration: none;}
li{display: inline-block;}
a{display: block;}

.clear::after{
     content: "";
     clear: both;
     display: block;     
}
.fix-width{
     max-width: 1200px;
     margin: auto;
}
body,h1,h2,h3,h4,h5,h6,p,a,span{font-family: 'Work Sans', sans-serif;}
/* stat css */
.header-section{
     background-color: #fff;
     border-bottom: 1px solid #bdc3c7;
     padding: 5px 0;
}
.header-section a{color: #010101;}

.header-logo{width: 30%;}
.header-logo  img{
     width: 60px;
     float: left;
     margin-right: 15px;
}
.header-logo span{ 
     display: inline-block;
     margin-top: 20px;
     font-size: 25px;
     font-weight: 500;
}
.header-menu{width: 56%;}

.header-menu ul{}
.header-menu ul li{}
.header-menu ul li a{
     padding: 0 17px;
    line-height: 4;
    font-size: 16px;
    font-weight: 500;
 }


.header-btn{ width: 14%;}
.header-btn a{
     border: 2px solid #3498db;
     display: inline-block;
     margin-top: 16px;
     padding: 5px 15px;
     font-size: 19px;
     font-weight: 400;
}
/* DropDown Mneu css */

.header-menu ul li{position: relative;}
.header-menu ul li ul{
     position: absolute;
     left: 0;
     top: 100%;
     width: 300px;

     opacity: 0;
     visibility: hidden;
     transition: .5s;
     transform: scaleY(0);
     transform-origin: top center;
}
.header-menu ul li:hover ul{
     opacity: 1;
     visibility: visible;
     transform: scaleY(1);

}
