header{
    display: flex;
    background-color: aqua;
    height: 20px;
    width: 100%;
    padding: 10 0px;
    justify-content: space-between; 
    align-items: center;
}
#box{
    color: brown;
    text-transform: uppercase;
}
#box ul li, a{
    display: inline-block; 
    color: wheat;
    text-decoration: none; 
    text-transform: uppercase;
    padding: 0 5px;

} 

