@media (max-width:1440px){
    .fixwidth{
        
        width:93%;
    }
}

@media (max-width:1200px){
    .fixwidth{width:90%;}
}

@media(max-width:882px){
    .fixwidth{
        max-width: 90%;
        width: 90%;
    }
    .header-left {
        width: 100%;
        text-align: center;
        margin-bottom: -11px;
        padding-top: 17px;
    }
    .header-right {
        width: 100%;
        text-align: center;
        
    }
    .header-right ul {
        text-align: center;
    }
    .header-right ul li:first-child {
         border-left:none;
    }
    .header-right ul li {
        border-right:none;
    }
    .header-right ul li a {
        font-size: 20px;
    }
}
@media(max-width:609px){
    
    .header-right ul li a {
        font-size: 19px;
    }
    .service-section {
        width: 100%;
        box-sizing: border-box;
        padding: 10px 10px;
        margin-right: 0;
        margin-left: 0;
    }
    .about h1 {
        font-size: 35px;
    }
    .about p {
        font-size: 24px;
    }    
}
   
