*{
padding: 0;
margin: 0;
}
.clerfix::after{
    content: "";
    display: block;
    clear: both;
}
.fixwidth{
    width: 100%;
    margin: auto; 
}
.text-center{text-align: center;}


/* Header sexa ion */
.header{
    background-color:#3498db ;

}
.header-left{
    float: left;
    width: 30%;

}
.header-left img{
    width: 160px;
    height: auto;
}


.header-right{
    float: right;
    width: 70%;
}
.header-right ul{
    text-align: right; 
}
.header-right ul li{ 
 display: inline-block;
 padding: 0 20px;
 line-height: 60px;
 border-right: 1px solid white;


}
.header-right ul li:first-child{ border-left: 1px solid white;}

.header-right ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    }

    .banner{
        background: url(../photo/Banner-Batterien.webp);
        padding: 250px 0;
        background-size: cover;
      
    }
       
    
    .banner-text h2{
        font-size: 30px;
        border: 1px solid hsl(155, 83%, 45%);
        background:#95a5a6 ;
        display: inline-block;
        padding: 0 15px;
        border-radius: 5px;
    }
    .banner-text p{
        background:hsl(183, 11%, 43%) ;
        font-size:20px ;
        max-width: 400px;
        margin: auto;
        padding: 5px 0;
        border-radius: 5px;
        margin-top: 10px;
    }
    .about {
        background-color: #bdc3c7;
        padding: 40px 0px;

    }
    .about h1{
        font-size: 40px;
    }
    .about p{
        font-size: 30px;
        max-width: 700px;
        margin: auto;
    }

    .service{
        padding-top: 40px;
    }
    .service-section{
        float: left;
        width: 30%;
        border: 2px solid #95a5a6;
        box-sizing: border-box;
       
        padding: 20px 20px;
        box-sizing: border-box;
        margin: 4% 0 4% 2%;
       
        
        /* margin: 1% 0 1% 1%; */
    }
    .service-section span{
        background:#2ecc71 ;
        display: inline-block;
        padding: 20px;
        font-size: 20px;
        margin: 10px;
        border-radius: 15px 0 20px 0;
    }
    .service-section h3{ 
        font-size: 30px;
    }
    .service-section p{}

    .blog-section {
       
    }
    .blog-section-content{
         float: left;
        width: 70%;
      
    }
    .blog-right{ 
        float:right ;
        width: 25%;
    } 
     .blog img{
        width: 160px;
        height: auto;
        float: left; 
        margin-top: 10px;
        margin-right: 10px;

        
     }
     .blog p{
    
     }
    






