.header-section{
    background-color: #3498db;
}
.header-logo img{
    width: 180px;
}
.header-right ul{    text-align: center;}
.header-right li{
    display: inline-block;

   
}
.header-right li a{
    color: #fafafa;
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding: 10px 20px;
   
}