* {
    padding: 0;
    margin: 0;
}

img {
    height: 400px;
    width: 400px;
    border: 1px solid rgb(200, 15, 15);
    float: right;
}

p {

    margin-right: 400px;
}

ul {}

ul li {
    float: left;
    list-style: none;

}

ul li a {
    background-color: aqua;
    color: #fff;
    text-decoration: none;
    padding 15px;
    display: inline-block;
    border: 1px solid red;
}
.clerfix::content { 
    content: "";
    clear: both;
    display: block;
    
    }
    


.Bhagne {
    height: 400px;
    width: 400px;
    background-color: rgb(255, 0, 17);
    float: right;
   
 
}

.meme {
    height: 400px;
    width: 400px;
    background-color: rgb(47, 0, 255);
    float: right;
   

    



}

/* .mendiv::after{
    content: "";
    clear: both;
    display: block;
} */


/* .table{background-color: aqua;
        height: 400px;
        width: 400px;
        text-align: center;
        float: right; */


/* }
.table h1{
    background-color: black;
    color: #fff;
    font-size: 30px;
    float: right;
} .table .this{
    background-color: rgb(23, 141, 214);
    color: #fff;
    font-size: 30px;
    float: right;
}  */